{
  "alt-speed-down": ${TRANSMISSION__ALT_SPEED_DOWN},
  "alt-speed-enabled": ${TRANSMISSION__ALT_SPEED_ENABLED},
  "alt-speed-time-begin": ${TRANSMISSION__ALT_SPEED_TIME_BEGIN},
  "alt-speed-time-day": ${TRANSMISSION__ALT_SPEED_TIME_DAY},
  "alt-speed-time-enabled": ${TRANSMISSION__ALT_SPEED_TIME_ENABLED},
  "alt-speed-time-end": ${TRANSMISSION__ALT_SPEED_TIME_END},
  "alt-speed-up": ${TRANSMISSION__ALT_SPEED_UP},
  "bind-address-ipv4": "${TRANSMISSION__BIND_ADDRESS_IPV4}",
  "bind-address-ipv6": "${TRANSMISSION__BIND_ADDRESS_IPV6}",
  "blocklist-enabled": ${TRANSMISSION__BLOCKLIST_ENABLED},
  "blocklist-url": "${TRANSMISSION__BLOCKLIST_URL}",
  "cache-size-mb": ${TRANSMISSION__CACHE_SIZE_MB},
  "dht-enabled": ${TRANSMISSION__DHT_ENABLED},
  "download-dir": "${TRANSMISSION__DOWNLOAD_DIR}",
  "download-queue-enabled": ${TRANSMISSION__DOWNLOAD_QUEUE_ENABLED},
  "download-queue-size": ${TRANSMISSION__DOWNLOAD_QUEUE_SIZE},
  "encryption": ${TRANSMISSION__ENCRYPTION},
  "idle-seeding-limit": ${TRANSMISSION__IDLE_SEEDING_LIMIT},
  "idle-seeding-limit-enabled": ${TRANSMISSION__IDLE_SEEDING_LIMIT_ENABLED},
  "incomplete-dir": "${TRANSMISSION__INCOMPLETE_DIR}",
  "incomplete-dir-enabled": ${TRANSMISSION__INCOMPLETE_DIR_ENABLED},
  "lpd-enabled": ${TRANSMISSION__LPD_ENABLED},
  "message-level": ${TRANSMISSION__MESSAGE_LEVEL},
  "peer-congestion-algorithm": "",
  "peer-id-ttl-hours": ${TRANSMISSION__PEER_ID_TTL_HOURS},
  "peer-limit-global": ${TRANSMISSION__PEER_LIMIT_GLOBAL},
  "peer-limit-per-torrent": ${TRANSMISSION__PEER_LIMIT_PER_TORRENT},
  "peer-port": ${TRANSMISSION__PEER_PORT},
  "peer-port-random-high": ${TRANSMISSION__PEER_PORT_RANDOM_HIGH},
  "peer-port-random-low": ${TRANSMISSION__PEER_PORT_RANDOM_LOW},
  "peer-port-random-on-start": ${TRANSMISSION__PEER_PORT_RANDOM_ON_START},
  "peer-socket-tos": "${TRANSMISSION__PEER_SOCKET_TOS}",
  "pex-enabled": ${TRANSMISSION__PEX_ENABLED},
  "port-forwarding-enabled": ${TRANSMISSION__PORT_FORWARDING_ENABLED},
  "preallocation": ${TRANSMISSION__PREALLOCATION},
  "prefetch-enabled": ${TRANSMISSION__PREFETCH_ENABLED},
  "queue-stalled-enabled": ${TRANSMISSION__QUEUE_STALLED_ENABLED},
  "queue-stalled-minutes": ${TRANSMISSION__QUEUE_STALLED_MINUTES},
  "ratio-limit": ${TRANSMISSION__RATIO_LIMIT},
  "ratio-limit-enabled": ${TRANSMISSION__RATIO_LIMIT_ENABLED},
  "rename-partial-files": ${TRANSMISSION__RENAME_PARTIAL_FILES},
  "rpc-authentication-required": ${TRANSMISSION__RPC_AUTHENTICATION_REQUIRED},
  "rpc-bind-address": "${TRANSMISSION__RPC_BIND_ADDRESS}",
  "rpc-enabled": ${TRANSMISSION__RPC_ENABLED},
  "rpc-host-whitelist": "",
  "rpc-host-whitelist-enabled": ${TRANSMISSION__RPC_HOST_WHITELIST_ENABLED},
  "rpc-password": "",
  "rpc-port": ${TRANSMISSION__RPC_PORT},
  "rpc-url": "${TRANSMISSION__RPC_URL}",
  "rpc-username": "",
  "rpc-whitelist": "",
  "rpc-whitelist-enabled": ${TRANSMISSION__RPC_WHITELIST_ENABLED},
  "scrape-paused-torrents-enabled": ${TRANSMISSION__SCRAPE_PAUSED_TORRENTS_ENABLED},
  "script-torrent-done-enabled": ${TRANSMISSION__SCRIPT_TORRENT_DONE_ENABLED},
  "script-torrent-done-filename": "",
  "seed-queue-enabled": ${TRANSMISSION__SEED_QUEUE_ENABLED},
  "seed-queue-size": ${TRANSMISSION__SEED_QUEUE_SIZE},
  "speed-limit-down": ${TRANSMISSION__SPEED_LIMIT_DOWN},
  "speed-limit-down-enabled": ${TRANSMISSION__SPEED_LIMIT_DOWN_ENABLED},
  "speed-limit-up": ${TRANSMISSION__SPEED_LIMIT_UP},
  "speed-limit-up-enabled": ${TRANSMISSION__SPEED_LIMIT_UP_ENABLED},
  "start-added-torrents": ${TRANSMISSION__START_ADDED_TORRENTS},
  "trash-original-torrent-files": ${TRANSMISSION__TRASH_ORIGINAL_TORRENT_FILES},
  "umask": ${TRANSMISSION__UMASK},
  "upload-slots-per-torrent": ${TRANSMISSION__UPLOAD_SLOTS_PER_TORRENT},
  "utp-enabled": ${TRANSMISSION__UTP_ENABLED},
  "watch-dir": "${TRANSMISSION__WATCH_DIR}",
  "watch-dir-enabled": ${TRANSMISSION__WATCH_DIR_ENABLED},
  "watch-dir-force-generic": ${TRANSMISSION__WATCH_FORCE_GENERIC}
}

